body {
  position: relative;
}

body::before,
body::after {
  content: "";
  position: fixed;
  display: block;
  border-radius: 50%;
  width: 3px;
  height: 300px;
  z-index: 1;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}

body::before {
  bottom: 0;
  left: 0;
  transform: translate(-50%);
  background: #0d00ff;
  box-shadow: 0 0 800px 400px #0d00ff;
}

body::after {
  top: 0;
  right: 0;
  transform: translate(50%);
  background: #6f00ff;
  box-shadow: 0 0 800px 400px #6f00ff;
}

.body-1::before {
  background: #0d00ff;
  box-shadow: 0 0 800px 400px #0d00ff;
}

.body-1::after {
  background: #6f00ff;
  box-shadow: 0 0 800px 400px #6f00ff;
}

/* -------------------------------- */

.body-2::before {
  background: #ff0000;
  box-shadow: 0 0 800px 400px #ff0000;
}

.body-2::after {
  background: #ff002b;
  box-shadow: 0 0 800px 400px #ff002b;
}

/* -------------------------------- */

.body-3::before {
  background: #0400ff;
  box-shadow: 0 0 800px 400px #0400ff;
}

.body-3::after {
  background: #4400ff;
  box-shadow: 0 0 800px 400px #4400ff;
}

/* -------------------------------- */

.body-4::before {
  background: #8400ff;
  box-shadow: 0 0 800px 400px #8400ff;
}

.body-4::after {
  background: #9900ff;
  box-shadow: 0 0 800px 400px #9900ff;
}

/* -------------------------------- */

.body-5::before {
  background: #0051ff;
  box-shadow: 0 0 800px 400px #0051ff;
}

.body-5::after {
  background: #ff002b;
  box-shadow: 0 0 800px 400px #ff002b;
}

/* -------------------------------- */

.body-6::before {
  background: #4c00ff;
  box-shadow: 0 0 800px 400px #4c00ff;
}

.body-6::after {
  background: #ff0080;
  box-shadow: 0 0 800px 400px #ff0080;
}

/* -------------------------------- */

.body-7::before {
  background: #ff0084;
  box-shadow: 0 0 800px 400px #ff0084;
}

.body-7::after {
  background: #4000ff;
  box-shadow: 0 0 800px 400px #4000ff;
}

/* -------------------------------- */

.body-8::before {
  background: #3700ff;
  box-shadow: 0 0 800px 400px #3700ff;
}

.body-8::after {
  background: #9900ff;
  box-shadow: 0 0 800px 400px #9900ff;
}

/* -------------------------------- */

.body-9::before {
  background: #ff0000;
  box-shadow: 0 0 800px 400px #ff0000;
}

.body-9::after {
  background: #ff0084;
  box-shadow: 0 0 800px 400px #ff0084;
}
