.glass-effect-header {
  color: #4f46e5;
  box-shadow: 0 30px 32px 0 rgba(111, 0, 255, 0.3);
}

.glass-effect-footer {
  box-shadow: 0 -30px 32px 0 rgba(255, 0, 76, 0.3);
}

.glass-effect-header::after,
.glass-effect-footer::after {
  content: "";
  position: absolute;
  display: block;
  z-index: 3;
  left: 0;
  width: 100%;
  height: 3px;
  transition: all 0.3s ease-in-out;

  background-size: 300%;
  -webkit-animation: animatedgradient 6s ease infinite alternate;
  -moz-animation: animatedgradient 6s ease infinite alternate;
  animation: animatedgradient 6s ease infinite alternate;
}

.glass-effect-header::after {
  bottom: 0;
    background-image: linear-gradient(to right, #4f46e5, #8b5cf6, #cc00ff);
}

.glass-effect-footer::after {
  top: 0;
  background-image: linear-gradient(to right, #dc2626, #f43f5e, #f97316);
}

.body-1 .glass-effect-header,
.body-3 .glass-effect-header,
.body-4 .glass-effect-header,
.body-7 .glass-effect-header,
.body-8 .glass-effect-header {
  color: #4f46e5;
  box-shadow: 0 30px 32px 0 rgba(111, 0, 255, 0.3);
}

.body-1 .glass-effect-header::after,
.body-3 .glass-effect-header::after,
.body-4 .glass-effect-header::after,
.body-7 .glass-effect-header::after,
.body-8 .glass-effect-header::after {
  background-image: linear-gradient(to right, #4f46e5, #8b5cf6, #cc00ff);
}

/* -------------------------------- */

.body-2 .glass-effect-header,
.body-5 .glass-effect-header,
.body-6 .glass-effect-header,
.body-9 .glass-effect-header {
  color: #f43f5e;
  box-shadow: 0 30px 32px 0 rgba(255, 0, 76, 0.3);
}

.body-2 .glass-effect-header::after,
.body-5 .glass-effect-header::after,
.body-6 .glass-effect-header::after,
.body-9 .glass-effect-header::after {
  background-image: linear-gradient(to right, #dc2626, #f43f5e, #f97316);
}
